* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  text-align: center;
  margin: 2rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
  height: 80vw;
  max-width: 500px;
  max-height: 500px;
}

.gameboard div {
  background-color: #ddd;
  border: 1px solid black;
  font-size: clamp(2rem, 10vw, 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2rem;
}