/* comic-neue-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/comic-neue-v8-latin-regular.woff2') format('woff2'); 
}

/* comic-neue-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/comic-neue-v8-latin-700.woff2') format('woff2'); 
}


:root, ::backdrop {
  --primary-clr: #03B5AA;
  --secondary-clr: #023436;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-clr);
  color: white;
  font-family: 'Comic Neue', sans-serif;
}


header {
  background-color: var(--secondary-clr);
  box-shadow: 0px 2px 5px black;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 0px 0px 8px var(--secondary-clr);
  border-radius: 1rem;
  width: 80%;
  height: 80vw;
  max-width: 300px;
  max-height: 300px;
}

.gameboard [data-index] {
  background-color: #fff;
  color: var(--secondary-clr);
  border: 1px solid var(--primary-clr);
  font-size: clamp(3rem, 10vw, 3.5rem);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard [data-index]:nth-child(1) {
  border-radius: 1rem 0 0 0;
}

.gameboard [data-index]:nth-child(3) {
  border-radius: 0 1rem 0 0;
}

.gameboard [data-index]:nth-child(7) {
  border-radius: 0 0 0 1rem;
}

.gameboard [data-index]:nth-child(9) {
  border-radius: 0 0 1rem 0;
}

header p {
  font-size: clamp(1rem, 10vw, 1.9rem);
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  margin: 0 0 2rem;
}

button {
  font-size: 1.1rem;
  padding: 1em 2em;
  background-color: var(--secondary-clr);
  border: none;
  border-radius: 1rem;
  margin: 2rem;
  box-shadow: 0px 0px 8px var(--secondary-clr);
  color: white;
  font-family: 'Comic Neue';
  font-weight: 700;
}

.win-row {
  color: #FF715B;
}

.gameboard [data-index]:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

a:hover {
  color: var(--secondary-clr);
}

.invisible {
  display: none;
}

/* === menu === */

.menu form {
  width: 80%;
  max-width: 300px;
  margin: auto;
}

.menu form label, .menu form button {
  display: block;
  margin: 1rem auto 5px;
  font-weight: 700;
}

.menu h1, .menu label {
  color: white;
} 

.menu h1 {
  font-size: 3rem;
}

.menu input {
  width: 100%;
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
}